textarea.mw-report-handling-textarea {
	resize: vertical;
	display: block;
}
table.mw-report-handling-list,
table.mw-report-handling-view {
	text-align: center;
}
#mw-report-reports-awaiting {
	padding: 3px;
	margin: 5px;
	border: 1px solid #990000;
	background-color: #f9f9f9;
	color: black;
}
